<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h1>CI/CD Deployment Successful</h1>
    <h1>CI/CD Deployment Successful DEMO</h1>
    <h1>CI/CD Deployment Successful DEMO3</h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>add more...</li>
    </ul>
  </body>
</html>
